*:focus {
  outline: 0 !important;
}

#logo {
  width: 50px;
  height: 58px;
  position: absolute; 
  left: 3px;
  top: 4px; 
}
#logoText{
  font-size: 20px;
  font-family: Montserrat;
  position: absolute; 
  left: 60px;
  top: 20px; 
}

#navContainer {
  transform: translateY(1rem);
  border-radius: 1px;
  margin: auto;
  margin-bottom: 5rem;
  background-color:#AACC00;
  justify-content:center;
  border-radius: 15px;
  
}

#toolbar {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 50% 50%;
}

#headerRight {
  display: flex;
  align-items: center;
  width: 400px; 
  position: absolute; 
  right: -150px;
  top: 9px;
  font-family: Montserrat;
 
}


#lunDesk {
  color: white;
}

#stayProd {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: white;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: white;
}

#navOptions {
  list-style: none;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  #nav {
    margin-bottom: 2.5rem;
  }
}

/* removed navbar on supported device(s) */
@media only screen and (max-width: 280px) {
  #nav {
    display: none;
  }
}
