.landing-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 67%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.landing-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-info {
  text-align: left;
}

.landing-info h1 {
  font-size: 4rem;
}

.landing-info p {
  font-size: 1rem;
}

.landing-graphic img {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 16px);
  }
  to {
    transform: translate(0, -0px);
  }
}
